main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0;
    animation: fade 2s forwards;
    background-color: black;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}